{% extends "base.html" %}

{% block title %}
Project Locker
{% endblock %}

{% block content %}

<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Project Locker
        </span>
    </div>
</div>


<section class="section section-light">
    <h2>Section One</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus est blanditiis ipsa maxime alias dolor error ex dolorem, 
        exercitationem repudiandae consequatur hic nobis. Culpa ad dicta minima voluptas obcaecati vitae!
    </p>
</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border">
            Image two text
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Section two</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus est blanditiis ipsa maxime alias dolor error ex dolorem, 
        exercitationem repudiandae consequatur hic nobis. Culpa ad dicta minima voluptas obcaecati vitae!
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
        <span class="border">
            Image three text
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Section three</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus est blanditiis ipsa maxime alias dolor error ex dolorem, 
        exercitationem repudiandae consequatur hic nobis. Culpa ad dicta minima voluptas obcaecati vitae!
    </p>
</section>
<!--
    IF YOU WANT THERE TO BE A REPEATED IMAGE 1 NEAR FOOTER OF HOME PAGE
<div class="pimg1">
    <div class="ptext">
        <span class="border">
            Project Locker
        </span>
    </div>
</div>
--->
{% endblock %}  
